modules = ["nodejs-20", "web"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "start-app"

[[workflows.workflow]]
name = "start-app"
mode = "sequential"
author = 46425874

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd RiseUpCreators && npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd RiseUpCreators && npm run dev"

[[ports]]
localPort = 5000
externalPort = 80
